In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import dgl
import torch
import pandas as pd
import sklearn
import numpy as np
import os
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)

Using backend: pytorch

In [2]:
DATASET_PATH = "../data/ml-100k/"
OUTPUT_PATH = "../data/ml-100k_processed/"

In [3]:
item_cols_names = "Id | Title | Release Date | video release date |\
              IMDb URL | unknown | Action | Adventure | Animation |\
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |\
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |\
              Thriller | War | Western"
item_cols_names = [x.strip() for x in item_cols_names.split('|')]

In [4]:
movies = pd.read_csv(DATASET_PATH + "u.item" , sep = '|' , encoding='latin-1' , header = None , names = item_cols_names)
movies.head(5)

   Id              Title Release Date  video release date                                           IMDb URL  unknown  Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0   1   Toy Story (1995)  01-Jan-1995                 nan  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0          0          1           1       1      0            0      0        0          0       0        0        0        0       0         0    0        0
1   2   GoldenEye (1995)  01-Jan-1995                 nan  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1          1          0           0       0      0            0      0        0          0       0        0        0        0       0         1    0        0
2   3  Four Rooms (1995)  01-Jan-1995                 nan  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0          0          0           0       0      0            0      0        0          0       0        0        0        0       0         1    0        0
3   4  Get Shorty (1995)  01-Jan-1995                 nan  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1          0          0           0       1      0            0      1        0          0       0        0        0        0       0         0    0        0
4   5     Copycat (1995)  01-Jan-1995                 nan  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0          0          0           0       0      1            0      1        0          0       0        0        0        0       0         1    0        0

In [5]:
def clean_movies(df):
    df = df.copy()

    # columns were dropped because 1st isn't relevant and 2nd is completely NaN
    df = df.drop(columns=['IMDb URL', 'video release date'])

    # remove movies with unknown films
    df = df[df["Title"] != "unknown"]

    # parse dates in the dataset
    # using year/month only (day shouldn't be relevant much)
    df.loc[:, 'Release Date'] = pd.to_datetime(df['Release Date'], format='%d-%b-%Y')
    df.insert(1, 'Year', df['Release Date'].dt.year.astype(int))
    df.insert(2, 'Month', df['Release Date'].dt.month.astype(int))
    df = df.drop(columns='Release Date')

    films = df.reset_index(drop = True).sort_index()

    return films



def prepare_movies(df):
    from sklearn.preprocessing import StandardScaler, FunctionTransformer
    from sklearn.compose import ColumnTransformer

    df = df.copy()

    # title isn't relevant
    df = df.drop(columns='Title')

    to_scale = ['Year', 'Month']
    rest = [col for col in df.columns if not col in to_scale]

    transformer = ColumnTransformer(
        [
            ("scaler", StandardScaler(), to_scale),
            ("identity", FunctionTransformer(), rest)
        ]
    )

    movies = transformer.fit_transform(df)
    return pd.DataFrame(movies, columns=to_scale + rest), transformer
    
    
cleaned_movies = clean_movies(movies)
prepared_movies , movies_transformer = prepare_movies(cleaned_movies)
pd.Series(cleaned_movies.index).describe()
np_prepared_movies = prepared_movies.to_numpy()
np.save(os.path.join(OUTPUT_PATH , "movies") , np_prepared_movies)

In [6]:
prepared_movies.head(4)

   Year  Month   Id  unknown  Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0  0.39  -0.55 1.00     0.00    0.00       0.00       1.00        1.00    1.00   0.00         0.00   0.00     0.00       0.00    0.00     0.00     0.00     0.00    0.00      0.00 0.00     0.00
1  0.39  -0.55 2.00     0.00    1.00       1.00       0.00        0.00    0.00   0.00         0.00   0.00     0.00       0.00    0.00     0.00     0.00     0.00    0.00      1.00 0.00     0.00
2  0.39  -0.55 3.00     0.00    0.00       0.00       0.00        0.00    0.00   0.00         0.00   0.00     0.00       0.00    0.00     0.00     0.00     0.00    0.00      1.00 0.00     0.00
3  0.39  -0.55 4.00     0.00    1.00       0.00       0.00        0.00    1.00   0.00         0.00   1.00     0.00       0.00    0.00     0.00     0.00     0.00    0.00      0.00 0.00     0.00

In [7]:
#prepared_films.describe()

In [8]:
user_cols_names = 'Id | Age | Gender | Occupation | Zip'
user_cols_names = [x.strip() for x in user_cols_names.split('|')]

users = pd.read_csv(DATASET_PATH + "u.user" , sep = '|' , encoding='latin-1' , header = None , names = user_cols_names)
users.head(5)

   Id  Age Gender  Occupation    Zip
0   1   24      M  technician  85711
1   2   53      F       other  94043
2   3   23      M      writer  32067
3   4   24      M  technician  43537
4   5   33      F       other  15213

In [9]:
def clean_users(df):
    df = df.copy()
        
    occupations = pd.get_dummies(df['Occupation'] , prefix_sep = '')
    
    df[occupations.columns] = occupations
    
    df = df.drop(columns = ['Occupation' , 'Zip']).reset_index(drop = True)
    
    df.loc[: , 'Gender'] = df['Gender'].map({'M' : 0 , 'F' : 1}).astype(int)
    
    return df

def prepare_users(df):
    
    from sklearn.preprocessing import StandardScaler,FunctionTransformer
    from sklearn.compose import ColumnTransformer
    
    df = df.copy()
    
    to_scale = ['Age']
    rest = [col for col in df.columns if not col in to_scale]
    
    transformer = ColumnTransformer(
        [
            ("scaler" , StandardScaler() , to_scale),
            ("identity", FunctionTransformer() , rest) 
        ]
    )
    
    df = transformer.fit_transform(df)
    return pd.DataFrame(df , columns = to_scale + rest) , transformer

In [10]:
cleaned_users = clean_users(users)
#cleaned_users.info()
prepared_users , users_transformer = prepare_users(cleaned_users)
cleaned_users.head(5)
np_prepared_users = prepared_users.to_numpy()
np.save(os.path.join(OUTPUT_PATH , "users") , np_prepared_users)

In [11]:
suffixes = ["a"]

def create_graph(full_df):
    graphdic= {}
    
    groups = full_df.groupby('Rating')
    for rating , df in groups:
        graphdic[("user" , str(rating) + "u" , "movie")] = (torch.tensor(df['uindex'].values) , torch.tensor(df['vindex'].values))
        graphdic[("movie" , str(rating) + "m" , "user")] = (torch.tensor(df['vindex'].values) , torch.tensor(df['uindex'].values))

        
    G = dgl.heterograph(graphdic)
    return G

def get_graph_df(df):
    
    df = df.drop(columns = ['Timestamp'])

    df = df.merge(cleaned_users.reset_index()[['index' , 'Id']] , left_on = 'User' , right_on = ['Id'], validate = 'many_to_one')
    df = df.drop(columns=['Id']).rename(columns = {'index' : 'uindex'})
    
    df = df.merge(cleaned_movies.reset_index()[['index' , 'Id']] , left_on = 'Movie' , right_on = ['Id'], validate = 'many_to_one')
    df = df.drop(columns=['Id']).rename(columns = {'index' : 'vindex'})
    
    print(df.dtypes)
    
    return df
    
for suff in suffixes:
    
    fname = "u{}.base".format(suff)
    fpath = DATASET_PATH + "u{}.base".format(suff)
    
    df = pd.read_csv(fpath , sep = '\t' , header = None , names = ["User" , "Movie" , "Rating" , "Timestamp"])
    df = get_graph_df(df)
    g = create_graph(df)
    
    dgl.save_graphs(os.path.join(OUTPUT_PATH , "u{}_train.graph").format(suff),[g])
    
    
    
    print(g)
    
print(df['uindex'].unique().shape)
print(df['vindex'].unique().shape)

df.describe()

g.nodes('user')

User      int64
Movie     int64
Rating    int64
uindex    int64
vindex    int64
dtype: object
Graph(num_nodes={'movie': 1681, 'user': 943},
      num_edges={('movie', '1m', 'user'): 5567, ('movie', '2m', 'user'): 10375, ('movie', '3m', 'user'): 24718, ('movie', '4m', 'user'): 30855, ('movie', '5m', 'user'): 19047, ('user', '1u', 'movie'): 5567, ('user', '2u', 'movie'): 10375, ('user', '3u', 'movie'): 24718, ('user', '4u', 'movie'): 30855, ('user', '5u', 'movie'): 19047},
      metagraph=[('movie', 'user', '1m'), ('movie', 'user', '2m'), ('movie', 'user', '3m'), ('movie', 'user', '4m'), ('movie', 'user', '5m'), ('user', 'movie', '1u'), ('user', 'movie', '2u'), ('user', 'movie', '3u'), ('user', 'movie', '4u'), ('user', 'movie', '5u')])
(943,)
(1679,)

tensor([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
         42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
         56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
         70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
         84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
         98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
        112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
        126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
        140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
        154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
        168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
        210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
        224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
        266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279,
        280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293,
        294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307,
        308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321,
        322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335,
        336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
        350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
        364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
        378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
        392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405,
        406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419,
        420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
        434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447,
        448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461,
        462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475,
        476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489,
        490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503,
        504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517,
        518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
        532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
        546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
        560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573,
        574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587,
        588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601,
        602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
        616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629,
        630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643,
        644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657,
        658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671,
        672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685,
        686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699,
        700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
        714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
        728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
        742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755,
        756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769,
        770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783,
        784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797,
        798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811,
        812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825,
        826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839,
        840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853,
        854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867,
        868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881,
        882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
        896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
        910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923,
        924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937,
        938, 939, 940, 941, 942])

In [14]:
print(g)

Graph(num_nodes={'movie': 1681, 'user': 943},
      num_edges={('movie', '1m', 'user'): 5567, ('movie', '2m', 'user'): 10375, ('movie', '3m', 'user'): 24718, ('movie', '4m', 'user'): 30855, ('movie', '5m', 'user'): 19047, ('user', '1u', 'movie'): 5567, ('user', '2u', 'movie'): 10375, ('user', '3u', 'movie'): 24718, ('user', '4u', 'movie'): 30855, ('user', '5u', 'movie'): 19047},
      metagraph=[('movie', 'user', '1m'), ('movie', 'user', '2m'), ('movie', 'user', '3m'), ('movie', 'user', '4m'), ('movie', 'user', '5m'), ('user', 'movie', '1u'), ('user', 'movie', '2u'), ('user', 'movie', '3u'), ('user', 'movie', '4u'), ('user', 'movie', '5u')])